In [1]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [2]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23, 'Job': False}

In [3]:
x['first_name']

'Arunesh'

In [4]:
len(x)

4

In [5]:
type(x)

dict

# Access Dictionary Items

In [6]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [7]:
x['age']

23

In [8]:
x.get('age')

23

In [9]:
# get all keys

x.keys()

dict_keys(['first_name', 'last_name', 'age', 'Job'])

In [11]:
# get all calues

x.values()

dict_values(['Arunesh', 'kumar', 23, False])

In [12]:
# get keys & values

x.items()

dict_items([('first_name', 'Arunesh'), ('last_name', 'kumar'), ('age', 23), ('Job', False)])

In [13]:
if 'age' in x:
    print(True)

True

# Change Dictionary Items

In [14]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [15]:
x['age'] = 22

In [16]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 22, 'Job': False}

In [17]:
# update method

x.update({'age': 23})

In [18]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23, 'Job': False}

# Add Dictionary Items

In [19]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [20]:
x['Car'] = True

In [21]:
x

{'first_name': 'Arunesh',
 'last_name': 'kumar',
 'age': 23,
 'Job': False,
 'Car': True}

In [22]:
x.update({'Home': True})

In [23]:
x

{'first_name': 'Arunesh',
 'last_name': 'kumar',
 'age': 23,
 'Job': False,
 'Car': True,
 'Home': True}

# Remove Dictionary Items

In [30]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [31]:
# remove item by key

x.pop('Job')

False

In [32]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23}

In [33]:
# remove last item

x.popitem()

('age', 23)

In [34]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar'}

In [35]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [36]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23, 'Job': False}

In [37]:
del x['Job']

In [38]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23}

In [39]:
del x

In [40]:
x

NameError: name 'x' is not defined

In [41]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [42]:
x

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23, 'Job': False}

In [43]:
x.clear()

In [44]:
x

{}

# Loop Dictionaries

In [45]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [47]:
# get all keys

for i in x:
    print(i)

first_name
last_name
age
Job

In [48]:
# get all values

for i in x:
    print(x[i])

Arunesh
kumar
23
False

In [49]:
# get all keys

for i in x.keys():
    print(i)

first_name
last_name
age
Job

In [50]:
# get all values

for i in x.values():
    print(i)

Arunesh
kumar
23
False

In [52]:
# get all keys & values

for a, b in x.items():
    print(f"{a} = {b}")

first_name = Arunesh
last_name = kumar
age = 23
Job = False

# Copy Dictionaries

In [53]:
x = {
    "first_name":"Arunesh",
    "last_name":"kumar",
    "age": 23,
    "Job": False,
}

In [56]:
# 1 - method

new_dict = x.copy()

In [57]:
new_dict

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23, 'Job': False}

In [58]:
# 2 - method

new_dict_1 = dict(x)

new_dict_1

{'first_name': 'Arunesh', 'last_name': 'kumar', 'age': 23, 'Job': False}

# Nested Dictionaries

In [60]:
# 1 - method

a = {
    "name": "Rohan",
    "age": 23,
}

b = {
    "name": "Sohan",
    "age": 33,
}

c = {
    "name": "Dohan",
    "age": 43,
}

all_in_one = {
    "x": a,
    "y": b,
    "z": c,
}

all_in_one

{'x': {'name': 'Rohan', 'age': 23},
 'y': {'name': 'Sohan', 'age': 33},
 'z': {'name': 'Dohan', 'age': 43}}

In [61]:
# 2 - method

all_in_one = {
    "x": {
        "name": "Rohan",
        "age": 23,
    },
    "y": {
        "name": "Sohan",
        "age": 33,
    },
    "z": {
        "name": "Dohan",
        "age": 43,
    },
}

all_in_one

{'x': {'name': 'Rohan', 'age': 23},
 'y': {'name': 'Sohan', 'age': 33},
 'z': {'name': 'Dohan', 'age': 43}}